<!-- add ticket -->

    <div id='findme' class="row pl-4 py-2" ng-init="vm.test('abc')">
        <button type="button" class="btn btn-sm btn-outline-primary add-ticket-cta" ng-click="vm.openModal()">Add Ticket</button>
    </div>

    <!-- tickets -->
    <div class="d-flex align-content-start flex-wrap bd-highlight mb-3" id="stage" dnd-list="vm.lists">

        <div class="card w-25 align-self-start m-1" ng-animate="'animate'" ng-repeat="list in vm.lists | filter:{ catList:$parent.$ctrl.category.name } track by $index"
            class="list p-2" dnd-dragstart="vm.lists.splice($index, 1)" dnd-effect-allowed="copy" dnd-draggable="list" dnd-effect-allowed="move">

            <div class="card-block pb-1">
                <span class='card-text' ng-show="list.catList.length>0">{{list.catList}}</span>

                <input class="list-name card-title mt-2" ng-model="list.name" />

                <a href="#" class="btn-sm btn btn-link float-right remove-card-list" ng-click="vm.deleteCard($index)">
                        <i class="fa fa-times" aria-hidden="true"></i>&nbsp;</a>
            </div>

            <div ng-init='addCard.is=false' class="card-block" ng-show="addCard.is==true">

                <div class="form-group mb-1">
                    <textarea class="form-control mb-2" id="exampleTextarea" ng-model='addCard.new'>
                    {{addCard.new}}
                </textarea>

                    <div class="w-100">
                        <button type="button" class=" btn-sm btn btn-success card-link add-ticket" ng-click="vm.addCard(addCard.new, $index); addCard.is=false; addCard.i=null;">add</button>

                        <a href='#' class="ml-2" ng-click="addCard.i=''; addCard.is=false; addCard.new='';">
                        <i class="fa fa-times c3 fa-lg" aria-hidden="true"></i>&nbsp;</a>
                        <a href='#' class='float-right'><i class="fa fa-ellipsis-h c3 mr-1" aria-hidden="true"></i></a>
                    </div>

                </div>
            </div>

            <ul class="list-group list-group-flush">
                <li ng-repeat="ticket in list.tickets track by $index" class="ticket list-group-item" ng-click="vm.openModal(list,$index)">
                    {{ticket.title}}
                </li>
            </ul>
            <div class="card-block add-new-card-group">
                <button type="button" class=" btn-sm btn btn-outline-secondary card-link add-ticket float-left" ng-click="addCard.i=$index; addCard.is=true; addCard.new='';">Add a card...</button>

                <button type="button" class=" btn-sm btn btn-outline-secondary float-right" ng-click="vm.openModal(list,$index)">Edit</button>

            </div>
        </div>
    </div>
