<div class="d-flex align-content-start flex-wrap bd-highlight mb-3" id="stage" dnd-list="vm.lists">
    <div class="card w-25" ng-repeat="list in vm.lists track by $index" class="list p-2" 
        dnd-dragstart="vm.lists.splice($index, 1)"
         dnd-effect-allowed="copy"
        dnd-draggable="list" dnd-effect-allowed="move">
        <div class="card-block">
            <input class="list-name card-title" ng-model="list.name" />
        </div>

        <ul class="list-group list-group-flush">
            <li ng-repeat="ticket in list.tickets track by $index" class="ticket list-group-item">
                {{ticket.title}}
            </li>
        </ul>
        <div class="card-block">
            <button type="button" class="btn btn-outline-secondary card-link add-ticket" ng-click="vm.openModal(list,$index)">edit</button>
        </div>
    </div>
</div>
<div class="row p-3">
    <button type="button" class="btn btn-outline-primary" ng-click="vm.openModal()">Add Ticket</button>
</div>