/***
----------------------------------------------------------
----------------------------------------------------------
global.variables.scss from here
***/
$font-weight-bold: bold !default;
$btn-font-weight: $font-weight-bold !default;

// awesome fonts path
$fa-font-path: './fonts';